<?xml version="1.0" encoding="utf-8"?>
<applicationConfig>
  <Novasky>
	<!--雷达类型+通讯方式对应通讯协议(若不存在同一类型同一通讯方式有多种通讯协议)-->
	  <argue key="SR75_CAN" value="Protocol_SR75CANFD" />
	  <argue key="SR75_TCP" value="Protocol_SR75CANFDToTCP" />
	  <argue key="SR75(AFS721)_TCP" value="Protocol_SR75TCP_Object" />
	  <argue key="UCM211_TCP" value="Protocol_UCM211_Bytes" />
	  <argue key="UCM211_UDP" value="Protocol_UCM211_Bytes" />
	  <argue key="UCM211_COM" value="Protocol_UCM211_Bytes" />
	  <argue key="UCM211_CAN" value="Protocol_UCM211_CAN" />
  </Novasky>
</applicationConfig>